<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Display</title>
</head>
<body>
<table>
    <tr>
        <th>Project name</th>
        <th>Description</th>
        <th>Creator</th>
        <th>Supervisor</th>
        <th>State</th>
        <th>Delete</th>
    </tr>
    {% for p in pp %}
        <tr>
            <td>{{ p.nom_projet }}</td>
            <td>{{ p.description }}</td>
            <td>{{ p.createur }}</td>
            <td>{{ p.superviseur }}</td>
            <td>{{ p.est_valide }}</td>
            <td><a href="{% url 'dl' p.id %}">Delete</a></td>
        </tr>
    {% endfor %}
</table>
<a href="{% url 'addadd' %}">Add a new project</a>
</body>
</html>